<!DOCTYPE html>
{% import 'bootstrap/wtf.html' as wtf %}
<html>
<head>
    <title>Ali Firoozi | DevOps Engineer
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:title" content="Ali Firoozi Zamani">
    <meta name="author" content="Ali Firoozi Zamani">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Ali Firoozi Zamani">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="{{ url_for('static', filename='images/code-slash.svg') }}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link href="{{ url_for('static', filename='styles/widget.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
            <ul class="nav nav-pills">
                <li class="nav-item navbar-item"><a href="/" class="nav-link button is-primary is-outlined is-rounded">Home</a>
                </li>
                <li class="nav-item navbar-item"><a href="#skills"
                                                    class="nav-link button is-primary is-outlined is-rounded">Skills</a>
                </li>
                <li class="nav-item navbar-item"><a href="#contact"
                                                    class="nav-link button is-primary is-outlined is-rounded">Contact</a>
                </li>
                <li class="nav-item navbar-item"><a href="#about"
                                                    class="nav-link button is-primary is-outlined is-rounded">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<section class="hero is-white has-text-centered">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile"
                        id="big-header"></h1>
                    <h2 class="subtitle is-size-4-desktop">I love what I do.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container"><img class="is-bottom" src="{{ url_for('static', filename='images/hero.svg') }}"></div>
    </div>
</section>
<section id="about" class="section is-medium is-primary has-text-centered is-long">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Ali. Nice to meet you.</h1>
                <h2 class="subtitle is-size-5-desktop">
                    Since beginning my journey as a DevOps Engineer, nearly {{ year | int - 2021 }}
                    years ago, I had a lot of fun, and I love my journey
                    I love learning and fun ideas! So if you have a fantastic idea, reach out below form.
                </h2>
                <span>Download my complete <a style="color: aqua" href="{{ url_for('download') }}">Resume</a></span>
            </div>
        </div>
    </div>
</section>
<section id="skills" class="section skills has-text-centered">
    <div class="container is-narrow">
        <div class="box">
            <div class="content">
                <div class="columns is-centered">
                    <div class="column">
                        <figure class="image"><img class="is-skill-icon"
                                                   src="{{ url_for('static', filename='images/mentor.svg') }}">
                        </figure>
                        <h1 class="title is-size-5 is-spaced">System Administration</h1>
                        <ul>
                            <li>RedHat, Ubuntu, CentOS, Fedora</li>
                            <li>Bash Shell</li>
                            <li>Ansible</li>
                            <li>Python</li>
                            <li>Monitoring with Prometheus</li>
                            <li>Regular Expression</li>
                            <li>Vim Editor</li>
                            <li>Vagrant</li>
                        </ul>
                    </div>
                    <div class="column">
                        <figure class="image"><img class="is-skill-icon"
                                                   src="{{ url_for('static', filename='images/mentor.svg') }}">
                        </figure>
                        <h1 class="title is-size-5 is-spaced">Containerization</h1>
                        <ul>
                            <li>Docker</li>
                            <li>Kubernetes</li>
                            <li>Docker Swarm</li>
                            <li>AWS EKS</li>
                            <li>AWS ECS, Linode LKE</li>
                            <li>Linode LKE</li>
                            <li>AWS ECR</li>
                            <li>Nexus</li>
                        </ul>
                    </div>
                    <div class="column">
                        <figure class="image"><img class="is-skill-icon"
                                                   src="{{ url_for('static', filename='images/mentor.svg') }}">
                        </figure>
                        <h1 class="title is-size-5 is-spaced">Cloud Infrastructure</h1>
                        <ul>
                            <li>AWS (IaaS, PaaS SaaS, CLI/API, VPS)</li>
                            <li>Linode (IaaS, PaaS SaaS, CLI/API)</li>
                            <li>Azure DevOps</li>
                        </ul>
                    </div>
                    <div class="column">
                        <figure class="image"><img class="is-skill-icon"
                                                   src="{{ url_for('static', filename='images/mentor.svg') }}">
                        </figure>
                        <h1 class="title is-size-5 is-spaced">X as Code</h1>
                        <ul>
                            <li>Terraform</li>
                            <li>Pulumi</li>
                            <li>Ansible</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <div class="column">
                        <figure class="image"><img class="is-skill-icon"
                                                   src="{{ url_for('static', filename='images/mentor.svg') }}">
                        </figure>
                        <h1 class="title is-size-5 is-spaced">CI/CD Processes</h1>
                        <ul>
                            <li>Jenkins</li>
                            <li>Gitlab CI/CD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="section projects is-medium is-white has-text-centered">
    <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Get in touch</h1>
        <h2 class="subtitle is-size-5-desktop">Leave a message, and I will respond to it ASAP.</h2>
        <span>I need your email to get in touch with you!</span>
        <div class="project-grid">
            <div class="columns is-multiline is-mobile">
                <div class="column is-12-mobile">
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name='content') }}
                    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "info"}) }}
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="section is-primary is-small has-text-centered">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <h1 class="title is-size-4-touch">Living, learning, & Coding.</h1>
        </div>
    </div>
    <div class="social-icons">
        <p class="field">
            <a class="button is-medium" href="mailto:alifiroozizamani@gmail.com" target="_blank">
                <span
                        class="icon is-small">
                        <i class="bi bi-envelope"></i>
                </span>
            </a>
            <a class="button is-medium" href="https://github.com/alifiroozi80" target="_blank">
                <span
                        class="icon is-small"><i class="bi bi-github"></i>
                </span>
            </a>
            <a class="button is-medium" href="https://www.linkedin.com/in/Ali-Firoozi-Zamani" target="_blank">
                <span
                        class="icon is-small"><i class="bi bi-linkedin"></i>
                </span>
            </a>
        </p>
    </div>
    <div class="copyright">Handcrafted by me<span class="icon has-white-text"
                                                  style="vertical-align:middle;">©</span>{{ year }}</div>
    </div>
</footer>
</body>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</html>
